* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fe6601 #ffffff;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #fe6601;
  border-radius: 82px;
  border: 3px outset #000000;
}
.nav-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  height: 9vh;
  min-height: fit-content;
  background-color: #f4f4f4;
  padding: 10px;
}

.img-icon{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.img-icon img{
  width: 100%;
  height: 100%;
}

.menu{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 40vw;
  height: 100%;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.menu-button{
  width:  30px;
  height: 30px;
  font-family: 'Cabin';
  font-size: 1.4rem;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  border: transparent 1px solid;
  border-radius: 50px;
  background-color: transparent;
  color: white;
}

.menu-button:hover{
  background-color: #f4f4f4;
  border: #f4f4f4 solid 1px;
  color: #212121;
}

.link-menu{
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-family: 'Cabin';
  color: white;
  font-size: 1.9rem;
  cursor: pointer;
}

.nav-principal span {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Be Vietnam Pro';
}
/*----------------------------------DIVS-----------------------------*/
.tintatron-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 420px;
}

#about{
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container img{
  width: 50vw;
  height: auto;
  order: 1;
  margin: 10px auto;
}

.about-container p{
  padding: 20px;
  margin-top: 10px;
  order: 2;
}

#contact{
  padding: 20px;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.contact-item{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: fit-content;
  margin: 20px auto;
}

.contact-item img{
  width: 256px;
  height: auto;
  margin: 0 auto;
}

.contact-item span{
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 1.9rem;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-item p{
  font-family: 'Roboto';
  font-size: 1.9rem;
  margin: 0 auto;
}
/*------------------------------------FOOTER---------------------------------*/

footer{
  background-color: #212121;
  width: 100%;
  height: 20vh;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  font-family: 'Be Vietnam Pro';
  font-weight: bolder;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 4.5rem;
}
/*------------------------------------TEXTOS----------------------------------*/
.title{
  font-family: 'Be Vietnam Pro';
  font-size: 2.4rem;
  display: block;
  width: 100%;
}

.text-normal{
  font-family: 'Roboto';
  font-size: 1.8rem;
}

.rigth-align{
  text-align: right;
}
/*-------------------------------------BOTONES----------------------------------*/

button{
  font-family: 'Cabin';
}
.dark-button {
  cursor: pointer;
  color: white;
  background-color: #212121;
  font-size: 1rem;
  padding: 10px;
  border: transparent 1px solid;
  transition: border-radius 300ms;
}

.dark-button:hover {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.big-orange-button {
  cursor: pointer;
  color: white;
  background-color: #ff5f00;
  font-size: 3.6rem;
  padding: 30px;
  padding: 10px;
  border: transparent 1px solid;
  transition: border-radius 300ms;
}

.big-orange-button:hover {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.orange-button {
  cursor: pointer;
  color: white;
  background-color: #ff5f00;
  font-size: 1.6rem;
  padding: 10px;
  border: transparent 1px solid;
  transition: border-radius 300ms;
}

.orange-button:hover {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}